<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="layui/css/layui.css" th:href="@{static/layui/css/layui.css}">
		<link rel="stylesheet" type="text/css" href="css/header.css" th:href="@{static/css/header.css}"/>
		<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css" th:href="@{static/font-awesome-4.7.0/css/font-awesome.css}"/>
		<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{static/font-awesome-4.7.0/css/font-awesome.min.css}"/>
		
		
		
		<link rel="stylesheet" type="text/css" href="css/examMng.css" th:href="@{static/css/examMng.css}"/> 
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css" th:href="@{static/css/bootstrap.css}"/>
		<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{static/css/common.css}"/>
 		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" th:href="@{static/css/font-awesome.min.css}"/> 
 		<link rel="stylesheet" type="text/css" href="css/core.css" th:href="@{static/css/core.css}"/> 
		
		
		<script src="js/respond.js" th:src="@{static/js/respond.js}"></script>
		<script src="js/jquery-2.0.3.min.js" th:src="@{static/js/jquery-2.0.3.min.js}"></script>
		<script src="js/jquery-1.9.1.min.js" th:src="@{static/js/jquery-1.9.1.min.js}"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"  th:src="@{static/js/bootstrap.min.js}"></script>
		<!--<script src="js/examMng/footer.js"  th:src="@{static/js/examMng/footer.js}"></script>-->
		<script src="js/item-knows-hover.js"  th:src="@{static/js/item-knows-hover.js}"></script>
		<script src="js/jquery.selectlist.js" th:src="@{static/js/jquery.selectlist.js}"></script>
		<script src="js/global.js" th:src="@{static/js/global.js}"></script>
		<script src="js/addTitle-add2.js"  th:src="@{static/js/addTitle-add2.js}"></script>
		<script src="js/addTitle-add2_dxxzts.js" th:src="@{static/js/addTitle-add2_dxxzts.js}"></script>
		<script src="layui/layui.js" th:src="@{static/layui/layui.js}"></script>
		<script src="js/index.js" data-main="home" th:src="@{static/js/index.js}"></script>
	 	<script src="js/home.js"  th:src="@{static/js/home.js}"></script>
	 	
		
		 
		<title>题库题目表单添加界面</title>
	</head>

	<body class="layui-view-body">
		

		<div th:replace="teacherHead :: html"></div>
		     <div class="layui-container">  
		  <div class="layui-row">
		    <div class="layui-col-md3">
	        	<ul class="layui-nav layui-nav-tree" lay-filter="test">
				<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
				  <li class="layui-nav-item layui-nav-itemed">
				    <a href="javascript:;">我的题库</a>
<!-- 				    <dl class="layui-nav-child"> -->
<!-- 				      <dd><a href="javascript:;">选项1</a></dd> -->
<!-- 				      <dd><a href="javascript:;">选项2</a></dd> -->
				     
<!-- 				    </dl> -->
				  </li>
<!-- 				  <li class="layui-nav-item"> -->
<!-- 				    <a href="javascript:;">我的考试</a> -->
<!-- 				    <dl class="layui-nav-child"> -->
<!-- 				      <dd><a href="">未开始</a></dd> -->
<!-- 				      <dd><a href="">进行中</a></dd> -->
<!-- 				      <dd><a href="">已结束</a></dd> -->
<!-- 				    </dl> -->
<!-- 				  </li> -->
				</ul>
		    </div>
		    <div class="layui-col-md8">
		    	
	<script type="text/javascript">
			var titleType = 0;
			//select下拉框模拟
			$(function(){
				$('select').selectlist({
					zIndex: 10,
					height: 50,
					onChange:titleTypeOnChange
				});
				add_options(0,0,"正确")
				add_options(0,1,"错误")
			});
			//tips提示
			$(function () { $("[data-tip='tooltip']").tooltip(); });
			var checkTitleSelectedIdx = 0;
			
			function titleTypeOnChange(){
				alert("22222");
				var num = $(".select-button").val();
				if(num == "判断题"){
					$("#pdt").css("display","block");
					$("#dxxzt").css("display","none");
					$("#dxxzts").css("display","none");
					remove_addition();
					titleType = 0;
				}
				if(num == "单项选择题"){
					$("#pdt").css("display","none");
					$("#dxxzt").css("display","block");
					$("#dxxzts").css("display","none");
					titleType = 1;
					clear_check_status(1);
				}
				if(num == "多项选择题"){
					$("#pdt").css("display","none");
					$("#dxxzt").css("display","none");
					$("#dxxzts").css("display","block");
					titleType = 2;
					clear_check_status(2);
				}
				$(".titletype-jt").text($("#titletype").children().eq(num).text());
				$(".titletype-jt").css("color","#555");
				$("#titletype").css("display","none");
			}

		</script>
    
		<!--head begin-->
		<nav class="navbar headbg">
		  	<div class="container header">
		  		<p class="additem-title text-center">添加试题</p>
  			</div>
		</nav>
		<!--head end-->
		
		<!--body begin-->
		<div class="main-container">
			<div class="container info-add body-box">
				<div class="info-add-box">
					<p>第一章&nbsp;社会主义法制理念</p>
		  			<a href="javascript:history.go(-1);"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;返回</a>
				</div>
				<div class="additem-container" style="position: relative; z-index: 1;">
					<div class="input-group input-group-lg testtype">
						<span class="input-group-addon" id="sizing-addon1">题目类型</span>
						<!--<div class="titletype-jt" style="border-radius: 0px 4px 4px 0px;">请选择试题类型<span class="validate">试题类型为选择</span></div>-->
						<select id="jinji" name="jinji" style="height:60px">
							<option value="0">判断题</option>
							<option value="1">单项选择题</option>
							<option value="2">多项选择题</option>
						</select>
					</div>
					<!--
                    	时间：2016-06-08
                    	描述：选择试题类型，1判断题：则展示判断题的表单；2：单项选择：显示单项选择的框；3：多项选择：选择多项选择；
                    -->
					<div class="input-group input-group-lg testtype reg-box" style="position: relative; z-index: 1;">
						<span class="input-group-addon">题目序号</span>
						<input type="text" value="请输入题目序号（最新序号10号）" class="form-control number" style="color:#999;" onBlur="textBlur(this)" onFocus="textFocus(this)"/>
						<span class="validate_input error error0"></span>
					</div>
					<div class="input-group input-group-lg tgtest reg-box" style="position: relative; z-index: 1;">
						<span class="input-group-addon tgbox">提干</span>
						<textarea type="text" id="stem" class="form-control tginput" value='请输入提干内容' onblur="if (value ==''){ value='请输入提干内容';document.getElementById('stem').style.color='#999';}" onfocus="if (value =='请输入提干内容'){value =''; this.style.color='#333';}">请输入提干内容</textarea>
						<span class="validate_input error error1"></span>
					</div>
					<div id="select-options">
						<div id="check_optx" class="answer_choose" style="display: none;">
						   <input type="radio" name="radio1" style="display: none;"></div>

					</div>
					<!--题目解析-->
					<div class="input-group input-group-lg tgtest reg-box" style="position: relative; z-index: 1;">
						<span class="input-group-addon tmjx_box">题目解析</span>
						<textarea type="text"  class="form-control tginput" value='请输入题目解析' onblur="if (value ==''){ value='请输入题目解析';document.getElementById('stem').style.color='#999';}" onfocus="if (value =='请输入题目解析'){value =''; this.style.color='#333';}">请输入题目解析</textarea>
						<span class="validate_input error error1"></span>
					</div>
					<!--题目解析-->
					<div id="pdt">
						<p style="color:red">*&nbsp;&nbsp;判断题有且只有一个选中项</p>
					</div>
					<div id="dxxzt" style="display: none;">
						<div class="input-group input-group-lg testtype" style="width: 100%;">
							<a class="btn btn-default btn-block btn-lg" href="javascript:add_options(1)"><i class="glyphicon glyphicon-plus-sign"></i>添加一个选项</a>
						</div>
						<p style="color:red">*&nbsp;&nbsp;单项选择题有且只有一个选中项</p>
					</div>
					<div id="dxxzts" style="display: none;">
						<div class="input-group input-group-lg testtype" style="width: 100%;">
							<a class="btn btn-default btn-block btn-lg" href="javascript:add_options(2)"><i class="glyphicon glyphicon-plus-sign"></i>添加一个选项</a>
						</div>
						<p style="color:red">*&nbsp;&nbsp;多项选择题有且至少两个选中项</p>
					</div>
					
					<div class="border-bottom"></div>
					<div class="input-group input-group-lg testtype text-center button-grop" style="position: relative; z-index: 1; margin: 0px auto;">
						<button type="button" class="btn btn-default" onClick="javascript:window.location.href='item-view.htm'"><i class="glyphicon glyphicon-list"></i>试题预览</button>
						<button id="demo3"  class="btn btn-success demo" href="#close-cn" data-toggle="modal"><i class="glyphicon glyphicon-ok"></i>保	存</button>
					</div>
					
				</div>
					<!--退出拟制开始-->
					<div id="close-cn" class="modal fade" tabindex="-1">
					    <div class="modal-dialog dw_ry_big_box">
					        <div class="modal-content dw_ry_box">
					        	<!--人员树header开始-->
					            <div class="modal-header no-padding">
					                <div class="table-header border-top-radius">
					                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					                        <span class="white">&times;</span>
					                    </button>
									保存提示
					                </div>
					            </div>
					            <!--人员树header结束-->
								<!--人员树body开始-->
					            <div class="modal-body">
					            	<div class="text-center">
					            		试题添加成功！
					                </div>
					            </div>
								<!--人员树body结束-->
					            <!--人员树footer开始-->
					            <div class="modal-footer no-margin-top border-bottom-radius">
					            	<button class="btn btn-sm btn-success" data-dismiss="modal" id="sure-close" onclick="window.location.href='item-knows.htm'">
					                    <i class="glyphicon glyphicon-arrow-left"></i>返回上一页
					                </button>
					                <button class="btn btn-sm btn-danger" data-dismiss="modal" onclick="window.location.href='item-type-add-2.htm'">
					                    <i class="glyphicon glyphicon-th-large"></i>继续添加
					                </button>
					            </div>
					            <!--人员树footer结束-->
					        </div>
					    </div>
					</div>
					<!--退出拟制结束-->
			</div>
			
			
		</div>
		<!--body end-->
		

	
		   
		 
		<script>
		//Demo
		layui.use('form', function(){
		  var form = layui.form;
		  form.render();
		  //监听提交
		  form.on('submit(formDemo)', function(data){
		    layer.msg(JSON.stringify(data.field));
		    return false;
		  });
		});
		</script>
		    </div>
		  </div>

	</body>
	<script>
		//注意：导航 依赖 element 模块，否则无法进行功能性操作
		layui.use('element', function() {
			var element = layui.element;

			//…
		});
	</script>
	
	<script type="text/javascript">
		//打开模态窗口
		$('#close-cn').modal({backdrop: 'static', keyboard: false , show: false});
	</script>

</html>