<!DOCTYPE html >
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> 我的考试 </title>
<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.css"  th:href="@{static/font-awesome-4.7.0/css/font-awesome.css}"/>
<link rel="stylesheet" type="text/css" href="font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{static/font-awesome-4.7.0/css/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" href="css/myExam.css" th:href="@{static/css/myExam.css}" />
<link rel="stylesheet" href="layui/css/layui.css" th:href="@{static/layui/css/layui.css}">
<style type="text/css">
.main
{
	width: 700px;
	height: 400px;
	border: 1px solid #ccc;
	margin: 0 auto;
	margin-top: 100px;
	overflow: hidden;
}
#cylindrical
{
	width: 700px;
	height: 400px;
	margin-top: -15px;
}
#line
{
	width: 700px;
	height: 400px;
	margin-top: -15px;
}
#pie
{
	width: 700px;
	height: 400px;
	margin-top: -15px;
}
</style>

 </head>

 <body style="background-color:white">
 <div class="layui-row">
          	<div class="layui-col-md9">
              <div class="main">
                <div id="pie"></div>
               </div>
           </div>
 <!-- <div class="layui-col-md3">
             	
             	<div class="layui-row grid-demo"  style="margin-top: 150px;">
             	   <div class="undo">
             	   	  <div class="first-line">
             	   	  	<span>
             	   	  		<i class="fa fa-coffee" style=" color: blue; margin-right:10px;"></i>
             	   	  		"待作答"
             	   	  		</span>
             	   	  		<span class="num" style="font-size: 36px; color: blue; margin-left: 10px;" th:text="${session.currentUser.inundomenum}"></span>
             	   	  		
             	   	  </div>
             	   	  <div class="divider"></div>
             	   	  <p>代做答试卷包含已完成、已过期以及已过期的卷子</p>
             	   	  	
             	   	 
             	   </div>
             	</div>
             	<div class="layui-row grid-demo"style="margin-top: 50px;">
             		 <div class="done">
             	   	  <div class="first-line">
             	   	  	<span>
             	   	  		<i class="fa fa-bar-chart-o" style=" color: orange; margin-right:10px;" ></i>
             	   	  		"已完成"
             	   	  		</span>
             	   	  		<span class="num" style="font-size: 36px; color: orange; margin-left: 10px;" th:text="${session.currentUser.donenum}"></span>
             	   	  		
             	   	  </div>
             	   	  <div class="divider"></div>
             	   	  <p>点击可查看已完成考试的成绩与详细报告</p>
             	   	  	
             	   	 
             	   </div>
             		
             	</div>
             	
             </div> -->
</div>
 </body>
<script src="js/jquery-1.8.3.min.js" th:src="@{static/js/jquery-1.8.3.min.js}" type="text/javascript" ></script>
<script src="js/amcharts.js" th:src="@{static/js/amcharts.js}" type="text/javascript"></script>
<script src="js/serial.js" th:src="@{static/js/serial.js}"  type="text/javascript"></script>
<script src="js/pie.js"  th:src="@{static/js/pie.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
   $(document).ready(function (e) {
	        MakeChart(json);
	    });
	  var finished=
		  [[${session.currentUser.donenum}]];
	  var waitingToFinish=
		  [[${session.currentUser.inundomenum}]];
	     
	  var waitingToStart=
		  [[${session.currentUser.futurenum}]];
	   var OutOfDate=
		  [[${session.currentUser.outundonenum}]];
	  var json = 
	   [
	    { "name": "已完成", "value": finished },
	    { "name": "待完成", "value": waitingToFinish },
	    { "name": "未开始", "value": waitingToStart },
	    { "name": "已过期", "value": OutOfDate },
	  ]
	   

	    //饼图
	    //根据json数据生成饼状图，并将饼状图显示到div中
	    function MakeChart(value) {
	        chartData = eval(value);
	        //饼状图
	        chart = new AmCharts.AmPieChart();
	        chart.dataProvider = chartData;
	        //标题数据
	        chart.titleField = "name";
	        //值数据
	        chart.valueField = "value";
	        //边框线颜色
	        chart.outlineColor = "#fff";
	        //边框线的透明度
	        chart.outlineAlpha = .8;
	        //边框线的狂宽度
	        chart.outlineThickness = 1;
	        chart.depth3D = 20;
	        chart.angle = 30;
	        chart.write("pie");
	    }
	
	
	
  

</script>






</html>