<!doctype html>
<html lang="en">

<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="icon" href="../assets/images/favicon.png">

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/style.css" th:href="@{statics/assets/css/style.css}">
    <link rel="stylesheet" href="../assets/css/night-mode.css" th:href="@{statics/assets/css/night-mode.css}">
    <link rel="stylesheet" href="../assets/css/framework.css" th:href="@{statics/assets/css/framework.css}">
	
	
    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="../assets/css/icons.css" th:href="@{statics/assets/css/icons.css}">


	 <link rel="stylesheet" href="../assets/layui/css/layui.css" th:href="@{statics/assets/layui/css/layui.css}" media="all">



    <!-- Google font
    ================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- sidebar -->
        <div class="main_sidebar">
            <div class="side-overlay" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></div>

            <!-- sidebar header -->
            <div class="sidebar-header">
                <h4> Navigation</h4>
                <span class="btn-close" uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></span>
            </div>

            <!-- sidebar Menu -->
            <div class="sidebar">
                <div class="sidebar_innr" data-simplebar>

                    <div class="sections">
                        <h3> 数据共享 </h3>
                        <ul>
                            <li class="active"> <a  th:href="@{toapplydata}"> <i class="uil-home-alt"></i> 数据申请 </a></li>
                            <li> <a th:href="@{toauthorizationdata}"> <i class="uil-users-alt"></i> 数据授权 </a></li>
                            <li> <a  th:href="@{togetdata}" > <i class="uil-layers"></i> 数据获取 </a></li>
                        </ul>
                    </div>


                    <div class="sections">
                        <h3> 记录查看 </h3>
                        <ul>
                            <li> <a  th:href="@{toauthorizationrecord}"> <i class="uil-home-alt"></i> 授权记录 </a></li>
                            <li> <a  th:href="@{touserecord}"> <i class="uil-users-alt"></i> 使用记录 </a></li>
                            <li> <a  th:href="@{torevokerecord}"> <i class="uil-layers"></i> 撤销记录 </a></li>
                      
                        </ul>
                    </div>
				</div>


            </div>

        </div>

        <!-- header -->
        <div id="main_header">
            <header>

                <!-- Logo-->
                <i class="header-traiger uil-bars"
                    uk-toggle="target: #wrapper ; cls: collapse-sidebar mobile-visible"></i>

                <!-- Logo-->
                <div id="logo">
                    <a href="#"> <img src="../assets/images/logo.png" th:src="@{statics/assets/images/logo.png}"  alt style="max-width:20%; ">GoSharing</a>
                    <a href="#"> <img src="../assets/images/logo-light.png" th:src="@{statics/assets/images/logo-light-icon.png}" class="logo-inverse" alt=""></a>
                
                </div>

               
                <!-- user icons -->
                <div class="head_user">
					  <!-- profile -image -->
                    <a class="opts_account" > <img src="../assets/images/avatars/avatar-1.jpg" th:src="@{statics/assets/images/avatars/avatar-1.jpg}" alt=""><text th:text="${session.currentUser.username}"></text></a>

                	<div uk-dropdown="pos: top-right;mode:click ; animation: uk-animation-slide-bottom-small"
                        class="dropdown-notifications small">
                        <a href="#">

                            <div class="dropdown-user-details">
                                <div class="dropdown-user-avatar">
                                    <img src="../assets/images/avatars/avatar-1.jpg"  th:src="@{statics/assets/images/avatars/avatar-1.jpg}" alt="">
                                </div>
                                <div class="dropdown-user-name">
                                    <text th:text="${session.currentUser.username}"></text> <span> 已登录 <i class="uil-check"></i> </span>
                                </div>
                            </div>
                        </a>
                        <ul class="dropdown-user-menu">
                            <li><a href="tologout"> <i class="icon-feather-log-out"></i> 退出登录</a>
                            </li>
                        </ul>
                    </div>

            

                    </div>

                </div>

            </header>

        </div>

        <!-- contents -->
        <div class="main_content">
            <div class="main_content_inner">

 		
 		<div style="float: right;">
 			<!--<button  class="button outline-warning" href="#modal-sections">发出申请</button>-->
		 <a  class="button outline-warning" href="#modal-sections" uk-toggle>发出申请</a>
 		</div>
 		<div>
 			<h3> 申请列表 </h3> 
 		</div>
		
		<table class="layui-table">
		  <colgroup>
		    <col width="150">
		    <col width="200">
		    <col>
		    <col width="100">
		  </colgroup>
		  <thead>
		    <tr>
		      <th>申请人</th>
		      <th>申请时间</th>
		      <th>申请说明</th>
		      <th>操作</th>
		    </tr> 
		  </thead>
		  <tbody >
		    <tr th:if="${applylist.size()} eq '0'">
		      <td colspan="4" align="center">暂无申请数据！</td>
		      
		    </tr>
		   
		  </tbody>
		  <tbody >
		    <tr th:each="apply:${applylist}">
		      <td th:text ="${apply.applicant}">贤心</td>
		      <td th:text="${#dates.format(apply.time,'yyyy-MM-dd HH:mm:ss')}">2016-11-29</td> 
		      <td th:text="${apply.introduction}" ></td>
		      <td>
		      	

		      	<a  href="#authorization" onclick="authorization(this)" th:value="${apply.applicant}" th:applyid="${apply.applyid}" th:introduction="${apply.introduction}" uk-toggle>
		      		<i class="layui-icon layui-icon-auz" title="授权"></i> 
		      	</a>
		      	<a  onclick="refuse(this)" th:applyid="${apply.applyid}" th:value="${apply.applicant}"> 
		      		<i class="layui-icon layui-icon-close" style="font-size: 20px ;margin-left: 20px;" title="拒绝"></i> 
		      		    
				
		      	</a>
		      	
		     
			
				
		      </td>
		    </tr>
		    <!--th:href="@{/Controller/behavior(param1=1,param2=${person.id})}"
		    -->
		  </tbody>
		</table>
          
          
          
          
            </div>
        </div>


    <!--</div>-->
   		<!--发出申请model-->
		<div id="modal-sections" uk-modal>
		    <div class="uk-modal-dialog">
		        <button class="uk-modal-close-default" type="button" uk-close></button>
		        <div class="uk-modal-header">
		            <h2 class="uk-modal-title">申请数据</h2>
		        </div>
		        <div class="uk-modal-body">
		            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
		        	<div class="layui-form-item">
					    <label class="layui-form-label">申请人</label>
					    <div class="layui-input-block">
					      <text th:text="${session.currentUser.username}" style="padding-top: 10px;"  class="layui-input">
					    </div>
					     
					   
					  </div>
					  <div class="layui-form-item">
					    <label class="layui-form-label">授权人</label>
					    <div class="layui-input-block">
					      <input type="text" name="title" id="owner"  lay-verify="required"  autocomplete="off" class="layui-input">
					    </div>
					     
					   
					  </div>
					  <div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">申请说明</label>
					    <div class="layui-input-block">
					      <textarea id="introduction" name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
					    </div>
					  </div>
							        
		        </div>
		        <div class="uk-modal-footer uk-text-right">
		            <button class="button uk-button-default uk-modal-close" type="button">取消</button>
		            <button id="applydata" class="button uk-button-primary" type="button">申请</button>
		        </div>
		    </div>
		</div>

	<!--
    	授权model
    	
    -->
	<div id="authorization" uk-modal>
		    <div class="uk-modal-dialog">
		        <button class="uk-modal-close-default" type="button" uk-close></button>
		        <div class="uk-modal-header">
		            <h2 class="uk-modal-title">授权数据</h2>
		        </div>
		        <input id="applyid" type="hidden" value="" />
		        <div class="uk-modal-body">
		            <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
		        	<div class="layui-form-item">
					    <label class="layui-form-label">申请人</label>
					    <div class="layui-input-block">
					      <input id="clickauthorization"   class="layui-input"  value="" readonly="true"  />
					    </div>
					     
					   
					  </div>
					  <div class="layui-form-item">
					    <label class="layui-form-label">授权人</label>
					    <div class="layui-input-block">
					      
					      <text th:text="${session.currentUser.username}" style="padding-top: 10px;"  class="layui-input">
					      <!--<text id="clickau" >-->
					    </div>
					     
					   
					  </div>
					  <div class="layui-form-item layui-form-text">
					    <label class="layui-form-label">申请说明</label>
					    <div class="layui-input-block">
					      <textarea id="explain" name="desc" class="layui-textarea" readonly="true"> </textarea>
					    	
					    </div>
					  </div>
					  
					  <div class="layui-form-item">
					    <label class="layui-form-label">授权文件</label>
					    <div class="layui-input-block">
					      <select id="file" lay-verify="required" class="layui-input">
					        <option value="99" >请选择授权的文件……</option>
					        <option value="0">耳科就诊记录</option>
					        <option value="1">脑科就诊记录</option>
					        <option value="2">皮肤科就诊记录</option>
					        <option value="3">外科就诊记录</option>
					        <option value="4">内科就诊记录</option>
					      </select>
					    </div>
					  </div>
							        
		        </div>
		        <div class="uk-modal-footer uk-text-right">
		            <button class="button uk-button-default uk-modal-close" type="button">取消</button>
		            <button id="authorizationdata" class="button uk-button-primary" type="button">授权</button>
		        </div>
		    </div>
		</div>

    <!-- For Night mode -->
    <script>
        (function (window, document, undefined) {
            'use strict';
            if (!('localStorage' in window)) return;
            var nightMode = localStorage.getItem('gmtNightMode');
            if (nightMode) {
                document.documentElement.className += ' night-mode';
            }
        })(window, document);


        (function (window, document, undefined) {

            'use strict';

            // Feature test
            if (!('localStorage' in window)) return;

            // Get our newly insert toggle
            var nightMode = document.querySelector('#night-mode');
            if (!nightMode) return;

            // When clicked, toggle night mode on or off
            nightMode.addEventListener('click', function (event) {
                event.preventDefault();
                document.documentElement.classList.toggle('night-mode');
                if (document.documentElement.classList.contains('night-mode')) {
                    localStorage.setItem('gmtNightMode', true);
                    return;
                }
                localStorage.removeItem('gmtNightMode');
            }, false);

        })(window, document);
    </script>


    <!-- javaScripts
                ================================================== -->
    
	<script src="../assets/js/framework.js" th:src="@{statics/assets/js/framework.js}"></script>
    <script src="../assets/js/jquery-3.3.1.min.js" th:src="@{statics/assets/js/jquery-3.3.1.min.js}" ></script>
    <script src="../assets/js/simplebar.js" th:src="@{statics/assets/js/simplebar.js}"></script>
    <script src="../assets/js/main.js" th:src="@{statics/assets/js/main.js}"></script>
	<script src="../assets/layer/layer.js" th:src="@{statics/assets/layer/layer.js}"></script>
	
	
	<script type="text/javascript">
		
		$(function() {
			
			$("#applydata").click(function() {
				applydata();
			})
			$("#authorizationdata").click(function() {
				authorizationdata();
			})
		})
		
		function applydata() {
//			alert(111);
			
			var owner = $("#owner").val();
			var introduction = $("#introduction").val();
//			alert(owner);
//			alert(introduction);
				$.ajax({
					url: "applydata",
				//	async: true,
					type: "post",
					data:{
						"owner":owner,
						"introduction":introduction
					},
					//  dataType: "json",
					success: function(data) {
//						alert(data);
						if(data =="0") {
						
							
							UIkit.notification({message: '该用户不存在，申请失败！', status: 'danger'})
						}
						//登录成功
						else if(data == "1") {
							window.location.href="toapplydata";
//							UIkit.notification({message: '申请成功', status: 'danger'})
							
//							
							
						}
					}
				})
			
		}
		
		
		function authorizationdata(){
			
			//			alert(111);
			if ($("#file").find("option:selected").val()=="99"){
				UIkit.notification({message: '请选择授权文件！', status: 'danger'})
				return;
			}
			
			var applyid = $("#applyid").val();
			var file = $("#file").find("option:selected").text();
			
//			alert(applyid);
//			alert(file);
				$.ajax({
					url: "authorizationdata",
				//	async: true,
					type: "post",
					data:{
						"applyid":applyid,
						"file":file
					},
					//  dataType: "json",
					success: function(data) {
//						alert(data);
						if(data =="0") {
							UIkit.notification({message: '授权失败！', status: 'danger'})
						}
						//登录成功
						else if(data == "1") {
							window.location.href="toauthorizationdata";
//							UIkit.notification({message: '申请成功', status: 'danger'})
							
//							
							
						}
					}
				})
			
			
		}
		function authorization(obj){

			
			$('#clickauthorization').val($(obj).attr("value"));
			$('#applyid').val($(obj).attr("applyid"));
			$('#explain').val($(obj).attr("introduction"));
		
		}
		function refuse(obj){
			var applyid = $(obj).attr("applyid");
			var applicant = $(obj).attr("value");
			
			layer.confirm('确定要拒绝'+applicant+'的申请？', {
			  btn: ['取消','确定'] //按钮
			}, function(index){
//			  layer.msg('的确很重要', {icon: 1});
			layer.close(index);
			}, function(){
				
				$.ajax({
					url: "refuseapply",
				//	async: true,
					type: "post",
					data:{
						"applyid":applyid
						
					},
					//  dataType: "json",
					success: function(data) {
						window.location.href="toapplydata";
					}
				})
			
			});
			
		}
			
		$(function () {
		        var x = -30;
		        var y = 20;
		        var newtitle = '';
		        $('i.layui-icon').mouseover(function (e) {
		            newtitle = this.title;
		            this.title = '';
		            $('body').append('<div id="mytitle" style=" z-index:999;">' + newtitle + '</div>');
		            $('#mytitle').css({
		                'left': (e.pageX + x + 'px'),
		                'top': (e.pageY + y - 80 + 'px')
		            }).show();
		        }).mouseout(function () {
		            this.title = newtitle;
		            $('#mytitle').remove();
		        }).mousemove(function (e) {
		            $('#mytitle').css({
		                'left': (e.pageX + x +10 + 'px'),
		                'top': (e.pageY + y - 60 + 'px')
		            }).show();
		        })
		    });
		
		
	</script>
	<style type="text/css">
		 #mytitle {
        position: absolute;
        color: #ffffff;
        max-width: 160px;
        font-size: 14px;
        padding: 4px;
        background: rgba(40, 40, 40, 0.8);
        border: solid 1px #e9f7f6;
        border-radius:5px;
    }

	</style>

	
</body>

</html>