.test-wrapper  .panel-wrapper .wrapper-title {
    height: 42px;
    background: #fff;
    margin-top: 20px;
    line-height: 42px;
    padding-left: 15px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



.test-wrapper .tab-container .panel-wrapper .wrapper-list {
    background: #fff;
    padding: 0 15px;
    border-top: 1px solid #ededed;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.08);
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list {
    margin-left: 250px;
    border-left: 3px solid #e4e4e4;
    padding-bottom: 40px;
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item.first-report {
    padding-top: 30px;
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 10px;
}
li {
    list-style: none;
}
blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
*, :after, :before, input[type=search] {
    box-sizing: border-box;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item .report-time {
    color: #969a9b;
    position: absolute;
    width: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    left: -94px;
    top: 27px;
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item .report-time .my-circle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item>.paper-name, .test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item>.score {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 20px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    height: 40px;
    margin-left: 20px;
    margin-right: -10px;
}
.score {
    color: #fa6b15;
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item>.paper-name, .test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item>.score {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 20px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    height: 40px;
    margin-left: 20px;
    margin-right: -10px;
}
.action {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 20px;
}
[class*=hint--] {
    position: relative;
    display: inline-block;
}

.action a {
    padding: 10px 20px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    height: 40px;
}
a:focus, a:hover, a:link, a:visited {
    outline: 0;
    text-decoration: none!important;
}
.btn-link, .btn-link.active, .btn-link.disabled, .btn-link:active, .btn-link:focus, .btn-link:hover, .btn-link[disabled] {
    text-decoration: none;
    color: #009ee7;
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
}
.btn, .btn.disabled, .btn[disabled] {
    border-color: #aab2bd;
    background-color: #aab2bd;
}
.btn {
    color: #fff;
}
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    box-shadow: none;
}
.btn-link {
    font-weight: 400;
    border-radius: 0;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn, .btn-danger.active, .btn-danger:active, .btn-default.active, .btn-default:active, .btn-info.active, .btn-info:active, .btn-primary.active, .btn-primary:active, .btn-warning.active, .btn-warning:active, .btn.active, .btn:active, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover, .form-control, .navbar-toggle, .open>.dropdown-toggle.btn-danger, .open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-info, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-warning {
    background-image: none;
}
a {
    cursor: pointer;
}
a, del, ins {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: #009ee7;
}
a {
    background: 0 0;
}

user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .done-list .list-item .action {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 20px;
}
.test-wrapper .tab-container .panel-wrapper .wrapper-list.done .more-action {
    margin-left: 300px;
    padding: 6px 25px;
    margin-bottom: 25px;
}
.btn-primary, .btn-primary.active, .btn-primary.disabled, .btn-primary:active, .btn-primary[disabled] {
    border-color: #009ee7;
    background-color: #009ee7;
}
.btn.disabled, .btn[disabled] {
    opacity: .45;
    filter: alpha(opacity=45);
}