<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neuedu.dao.Bank_singleMapper" >
  <resultMap id="BaseResultMap" type="com.neuedu.entity.Bank_single" >
    <id column="Q_id" property="qId" jdbcType="INTEGER" />
    <result column="Q_title" property="qTitle" jdbcType="VARCHAR" />
    <result column="bankid" property="bankid" jdbcType="INTEGER" />
    <result column="Q_knowledge" property="qKnowledge" jdbcType="VARCHAR" />
    <result column="Q_analysis" property="qAnalysis" jdbcType="VARCHAR" />
    <result column="Q_difficulty" property="qDifficulty" jdbcType="INTEGER" />
    <result column="c1" property="c1" jdbcType="VARCHAR" />
    <result column="c2" property="c2" jdbcType="INTEGER" />
  </resultMap>
  
   <resultMap id="BaseResultMap2" type="com.neuedu.entity.Bank_single" >
    <id column="Q_id" property="qId" jdbcType="INTEGER" />
    <result column="Q_title" property="qTitle" jdbcType="VARCHAR" />
    <result column="bankid" property="bankid" jdbcType="INTEGER" />
    <result column="Q_knowledge" property="qKnowledge" jdbcType="VARCHAR" />
    <result column="Q_analysis" property="qAnalysis" jdbcType="VARCHAR" />
    <result column="Q_difficulty" property="qDifficulty" jdbcType="INTEGER" />
    <result column="c1" property="c1" jdbcType="VARCHAR" />
    <result column="c2" property="c2" jdbcType="INTEGER" />
    <collection property="singlelist" resultMap="com.neuedu.dao.Bank_singlechoiceMapper.BaseResultMap">
    </collection>
    
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Q_id, Q_title, bankid, Q_knowledge, Q_analysis, Q_difficulty, c1, c2
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.neuedu.entity.Bank_singleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bank_single
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bank_single
    where Q_id = #{qId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bank_single
    where Q_id = #{qId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.neuedu.entity.Bank_singleExample" >
    delete from bank_single
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="qId"  keyColumn="qId" parameterType="com.neuedu.entity.Bank_single" >
    insert into bank_single (Q_id, Q_title, bankid, 
      Q_knowledge, Q_analysis, Q_difficulty, 
      c1, c2)
    values (#{qId,jdbcType=INTEGER}, #{qTitle,jdbcType=VARCHAR}, #{bankid,jdbcType=INTEGER}, 
      #{qKnowledge,jdbcType=VARCHAR}, #{qAnalysis,jdbcType=VARCHAR}, #{qDifficulty,jdbcType=INTEGER}, 
      #{c1,jdbcType=VARCHAR}, #{c2,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="qId"  keyColumn="qId" parameterType="com.neuedu.entity.Bank_single" >
    insert into bank_single
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qId != null" >
        Q_id,
      </if>
      <if test="qTitle != null" >
        Q_title,
      </if>
      <if test="bankid != null" >
        bankid,
      </if>
      <if test="qKnowledge != null" >
        Q_knowledge,
      </if>
      <if test="qAnalysis != null" >
        Q_analysis,
      </if>
      <if test="qDifficulty != null" >
        Q_difficulty,
      </if>
      <if test="c1 != null" >
        c1,
      </if>
      <if test="c2 != null" >
        c2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qId != null" >
        #{qId,jdbcType=INTEGER},
      </if>
      <if test="qTitle != null" >
        #{qTitle,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null" >
        #{bankid,jdbcType=INTEGER},
      </if>
      <if test="qKnowledge != null" >
        #{qKnowledge,jdbcType=VARCHAR},
      </if>
      <if test="qAnalysis != null" >
        #{qAnalysis,jdbcType=VARCHAR},
      </if>
      <if test="qDifficulty != null" >
        #{qDifficulty,jdbcType=INTEGER},
      </if>
      <if test="c1 != null" >
        #{c1,jdbcType=VARCHAR},
      </if>
      <if test="c2 != null" >
        #{c2,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.neuedu.entity.Bank_singleExample" resultType="java.lang.Integer" >
    select count(*) from bank_single
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bank_single
    <set >
      <if test="record.qId != null" >
        Q_id = #{record.qId,jdbcType=INTEGER},
      </if>
      <if test="record.qTitle != null" >
        Q_title = #{record.qTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.bankid != null" >
        bankid = #{record.bankid,jdbcType=INTEGER},
      </if>
      <if test="record.qKnowledge != null" >
        Q_knowledge = #{record.qKnowledge,jdbcType=VARCHAR},
      </if>
      <if test="record.qAnalysis != null" >
        Q_analysis = #{record.qAnalysis,jdbcType=VARCHAR},
      </if>
      <if test="record.qDifficulty != null" >
        Q_difficulty = #{record.qDifficulty,jdbcType=INTEGER},
      </if>
      <if test="record.c1 != null" >
        c1 = #{record.c1,jdbcType=VARCHAR},
      </if>
      <if test="record.c2 != null" >
        c2 = #{record.c2,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bank_single
    set Q_id = #{record.qId,jdbcType=INTEGER},
      Q_title = #{record.qTitle,jdbcType=VARCHAR},
      bankid = #{record.bankid,jdbcType=INTEGER},
      Q_knowledge = #{record.qKnowledge,jdbcType=VARCHAR},
      Q_analysis = #{record.qAnalysis,jdbcType=VARCHAR},
      Q_difficulty = #{record.qDifficulty,jdbcType=INTEGER},
      c1 = #{record.c1,jdbcType=VARCHAR},
      c2 = #{record.c2,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.neuedu.entity.Bank_single" >
    update bank_single
    <set >
      <if test="qTitle != null" >
        Q_title = #{qTitle,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null" >
        bankid = #{bankid,jdbcType=INTEGER},
      </if>
      <if test="qKnowledge != null" >
        Q_knowledge = #{qKnowledge,jdbcType=VARCHAR},
      </if>
      <if test="qAnalysis != null" >
        Q_analysis = #{qAnalysis,jdbcType=VARCHAR},
      </if>
      <if test="qDifficulty != null" >
        Q_difficulty = #{qDifficulty,jdbcType=INTEGER},
      </if>
      <if test="c1 != null" >
        c1 = #{c1,jdbcType=VARCHAR},
      </if>
      <if test="c2 != null" >
        c2 = #{c2,jdbcType=INTEGER},
      </if>
    </set>
    where Q_id = #{qId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neuedu.entity.Bank_single" >
    update bank_single
    set Q_title = #{qTitle,jdbcType=VARCHAR},
      bankid = #{bankid,jdbcType=INTEGER},
      Q_knowledge = #{qKnowledge,jdbcType=VARCHAR},
      Q_analysis = #{qAnalysis,jdbcType=VARCHAR},
      Q_difficulty = #{qDifficulty,jdbcType=INTEGER},
      c1 = #{c1,jdbcType=VARCHAR},
      c2 = #{c2,jdbcType=INTEGER}
    where Q_id = #{qId,jdbcType=INTEGER}
  </update>
  <select id ="getAllbyBankid" parameterType="Integer" resultMap="BaseResultMap2">
  	select bs.*,bsc.*
  	from bank_single bs,bank_singlechoice bsc
  	where bs.Q_id = bsc.Q_id and bs.bankid = #{bankid}
  
  </select>
</mapper>